.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.iconBlock {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.link {
    padding: 10px 35px;
    background-color: gray;
    align-self: center;
    justify-content: center;

}

.titleBlock {
    width: 100%;
    background-color: wheat;
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: center;
}

.title {
    /*margin-bottom: 10px;*/
    /*margin-left: 25px;*/
    /*margin-right: 100px;*/
    background-color: gray;
    text-align: left;

}

.description {
    /*margin-top: 0;*/
   /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    background-color: gray;
    text-align: left;

}