.worksBlock {
    height: 100vh;
    background-color: #ffa37a;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}